*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  background-color: white;
}

list{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.button-appoint  {
  padding: 12px 10px;
  background-color: #F57E57;
  cursor: pointer;
}

.button-appoint:hover{
  background-color: green;
  cursor: pointer;
}

.head{
    display: grid;
    grid-template-rows: 1fr auto;
    justify-content: flex-end;
    background-color: #185AA0;
    padding: 15px;
}

.button-appoint {
  /* ... existing styles ... */
  grid-area: "button-area";
  border-radius: 5px;
  border: none;
}

nav ul {
  /* ... existing styles ... */
  grid-area: "list-area";
}

.menubar ul li a{
  text-decoration: none;
  margin-top: 10px;
  color: black;
}

nav ul li {
  display: inline;
  padding: 10px;
  padding-top: 20px;
  color: aliceblue;
  
}

.nav-right{
  display: flex;
  flex-direction: column;
}

nav ul{
  flex-grow: 1;
}


