*{
  margin: 0;
  padding: 0;
}
:root{
  background-color: white;
}

list{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.button-appoint{
  padding: 12px 10px;
  border: 2px solid black;
  background-color: #F57E57;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #185AA0;
    width: 100%;
    padding: 15px;
}

.head ul li{
    
}

.menubar ul li a{
  text-decoration: none;
  margin-top: 10px;
  color: black;
}

nav ul li {
  display: inline;
  padding: 10px;
  padding-top: 20px;
  color: aliceblue;
  
}
